<div class="inner">
    <div style="inline-block">
        <h2><a href='https://drive.google.com/uc?export=download&id=1Yl29iOjV8YwcxtVkL8jDD_f_eeBRED6u'>Kostenlose Arztsoftware herunterladen</a></h2
    </div>
    <div style="inline-block">
       <h2><a herf='https://www.youtube.com/user/elexisaustria' target='_blank'>visit elexis-austria @ youtube!</a></h2>
    </div>
    <div style="inline-block">
      <h2>Jetzt Beratungsgespräch vereinbaren: +43 72 42 21 40 46  | <a href='m&#97;ilto&#58;office&#64;&#101;&#108;ex&#105;s-a&#117;&#115;t%72i&#97;&#46;%6Eet'>office&#64;&#101;&#108;exi&#115;-au&#115;tri&#97;&#46;&#110;&#101;t</a></h2>
    </<div>
</div>
